//--------------------------------------------------------------
// Icons
//--------------------------------------------------------------

// Social Media Colors
$color-facebook: #3b5998;
$color-googleplus: #dd4b39;
$color-instagram: #517fa4;
$color-linkedin: #007bb6;
$color-pinterest: #cb2027;
$color-rss: #ff9900;
$color-twitter: #00aced;
$color-youtube: #bb0000;

// $social-colors() map
$social-colors: (
	facebook: $color-facebook,
	facebook-square: $color-facebook,
	googleplus: $color-googleplus,
	googleplus-square: $color-googleplus,
	instagram: $color-instagram,
	linkedin: $color-linkedin,
	linkedin-square: $color-linkedin,
	pinterest: $color-pinterest,
	pinterest-square: $color-pinterest,
	rss: $color-rss,
	rss-square: $color-rss,
	twitter: $color-twitter,
	twitter-square: $color-twitter,
	youtube: $color-youtube,
	youtube-square: $color-youtube,
);

// Social icons <ul>
.social-icons {
	@include clearfix;
	@extend .no-bullet;

	// Each icon <li>
	.social-icon {

		// Loop through all social icons
		@each $social-color, $color in $social-colors {

			// Set styles on those social icons!
			.icon-#{$social-color} {
				width: rem-calc(30);
				height: rem-calc(30);

				fill: $color;

				&:hover {
					fill: lighten($color, 20%);
				}
			}
		}

		// No margin for the last <li> item
		&:last-child {
			margin-right: 0;
		}
	}
}
