/* =Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* =Image Captions
--------------------------------------------------------------*/
.wp-caption {
	margin: 0 0 1.5em 0;
	max-width: 100% !important;
	padding: 0;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}

.wp-caption-text {
	text-align: center;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
.wp-caption-text {
	font-size: rem-calc(12);
	line-height: 1.4;
	padding: rem-calc(3);
	margin: rem-calc(0 0 3 0);
}
.wp-caption-custom {
	@extend .wp-caption-text;
	margin-top: rem-calc(-18);
	padding: 0;
}